<br />
<br />
<div class="jumbotron">
  <h1 class="display-4">Login</h1>
  	<div *ngIf="msg">
		<div class="alert alert-danger" role="alert">
		  {{msg}}
		</div>
	</div>
    <div class="form-group">
      <label>email</label>
      <input [(ngModel)]="email" type="text" class="form-control" placeholder="Enter Email">
    </div>
    
    <div><button (click)="login()" type="submit" class="btn btn-primary">Login</button></div>
  
</div>