<br />
<br />
<div class="jumbotron">
	<div>
		<select class="form-control" (change)="selectionChange($event.target.value)">
			<option value="0">Choose Cashier</option>
	  		<option *ngFor="let name of cashers" value={{name.id}} >{{name.firstName}}</option>
		</select>
	</div>
	<br>
	<div *ngIf="productsLogs" >
		<h3>Table of products sell</h3>
		<table class='table table-striped' class="table">
			<thead class="thead-dark">
				<th>Bill ID</th>
				<th>Date</th>
				<th>Product Cost</th>
				<th>Paid Amount</th>
				<th>Change Amount</th>
			</thead>
			<tbody>
				<tr *ngFor="let item of productsLogs">
					<td>{{item.id}}</td>
					<td>{{item.time}}</td>
					<td>{{item.product_cost}}</td>
					<td>{{item.paid_amount}}</td>
					<td>{{item.change_amount}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<div *ngIf="cashInfo" >
		<h3>Table of Transactions Logs</h3>
		<table class='table table-striped' class="table">
			<thead class="thead-dark">
				<th>Date</th>
				<th>Type</th>
				<th>Class</th>
				<th>Amout</th>
				<th>Bill id</th>
			</thead>
			<tbody>
				<tr *ngFor="let item of cashInfo">
					<td>{{item.time}}</td>
					<td>{{item.type}}</td>
					<td>{{item.class}}</td>
					<td>{{item.ammount}}</td>
					<td>{{item.productId}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<br>
	<a [routerLink]='[""]'>Back to home screen</a>
</div>