<br>
<br>
<div class="jumbotron">
	<h1 class="display-4">Transactions</h1>
	<label>Product Price</label>
	<input [(ngModel)]="price" class="form-control" type="text" placeholder="cost">
	<br>
	<label>Paid amount</label>
	<input [(ngModel)]="paid" class="form-control" type="text" placeholder="paid ammount">
	<br>
	<button (click)="calculate()" type="submit" class="btn btn-primary">calculate</button>
	<br>
	<label>change</label>
	<input class="form-control" type="text" [(ngModel)]='remind'  readonly>
	<br>
	<div *ngIf="msg1">
		<div class="alert alert-success" role="alert">
		  {{msg1}}
		</div>
	</div>
	<br>
	<button (click)="save()" type="submit" class="btn btn-primary">save</button>
	<br>
	<div *ngIf="msg2">
		<div class="alert alert-success" role="alert">
		  {{msg2}}
		</div>
	</div>
	<br>
	<a [routerLink]='[""]'>Back to home screen</a>
</div>