<br>
<br>
<div class="jumbotron">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-4">
	 		<a [routerLink]='["/login"]'><button class="btn btn-outline-primary"> Login as Cashier</button></a>	
		</div>
		<div class="col-md-4">
	 		<a [routerLink]='["/cashiers"]'><button class="btn btn-outline-primary"> Show transactions by cashiers</button></a>
		</div>
	</div>
</div>